.signup-heading {
  font-family: "Headings";
}

.text-field {
  width: 500px;
  display: block;
  margin: auto;
}

@media (max-width: 1100px) {
  .text-field {
    width: 75vw;
    display: block;
    margin: auto;
  }
}
